
{% extends 'base.html' %}
{% load static %}

{% block content %}


<!-- Begin Li's Breadcrumb Area -->
<!--            <div class="breadcrumb-area">-->
<!--                <div class="container">-->
<!--                    <div class="breadcrumb-content">-->
<!--                        <ul>-->
<!--                            <li><a href="#">Home</a></li>-->

<!--                        </ul>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- Li's Breadcrumb Area End Here -->
            <!-- about wrapper start -->
            <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
                                <h2><span>thetnaingtun.com</span>Learning IT</h2>
                                <p>We are a team of IT Engineer and developers that create high quality Templates & Web Applications, Business Consultant and Support.</p>
                                <p>Some of our customer say’s that they trust us and buy our product without any hagitation because they belive us and always happy to buy our product.</p>
                                <p>We provide the beshat they trusted us and buy our product without any hagitation because they belive us and always happy to buy.</p>
                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            <div class="about-image-wrap">
                                <img class="img-full" src="{% static 'images/product/large-size/14.png' %}" alt="About Us" />
                            </div>
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <!-- about wrapper end -->
            <!-- Begin Counterup Area -->
            <div class="counterup-area">
                <div class="container-fluid p-0">
                    <div class="row no-gutters">
                        <div class="col-lg-3 col-md-6">
                            <!-- Begin Limupa Counter Area -->
                            <div class="limupa-counter white-smoke-bg">
                                <div class="container">
                                    <div class="counter-img">
                                        <img src="{% static 'images/about-us/icon/1.png' %}" alt="">
                                    </div>
                                    <div class="counter-info">
                                        <div class="counter-number">
                                            <h3 class="counter">169</h3>
                                        </div>
                                        <div class="counter-text">
                                            <span>STUDENTS</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- limupa Counter Area End Here -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!-- Begin limupa Counter Area -->
                            <div class="limupa-counter gray-bg">
                                <div class="counter-img">
                                    <img src="{% static 'images/about-us/icon/2.png' %}" alt="">
                                </div>
                                <div class="counter-info">
                                    <div class="counter-number">
                                        <h3 class="counter">120</h3>
                                    </div>
                                    <div class="counter-text">
                                        <span>CERTIFICATED</span>
                                    </div>
                                </div>
                            </div>
                            <!-- limupa Counter Area End Here -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!-- Begin limupa Counter Area -->
                            <div class="limupa-counter white-smoke-bg">
                                <div class="counter-img">
                                    <img src="{% static 'images/about-us/icon/3.png' %}" alt="">
                                </div>
                                <div class="counter-info">
                                    <div class="counter-number">
                                        <h3 class="counter">150</h3>
                                    </div>
                                    <div class="counter-text">
                                        <span>LEARNING HOURS</span>
                                    </div>
                                </div>
                            </div>
                            <!-- limupa Counter Area End Here -->
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <!-- Begin limupa Counter Area -->
                            <div class="limupa-counter gray-bg">
                                <div class="counter-img">
                                    <img src="{% static 'images/about-us/icon/4.png' %}" alt="">
                                </div>
                                <div class="counter-info">
                                    <div class="counter-number">
                                        <h3 class="counter">219</h3>
                                    </div>
                                    <div class="counter-text">
                                        <span>COMPLETE PROJECTS</span>
                                    </div>
                                </div>
                            </div>
                            <!-- limupa Counter Area End Here -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- Counterup Area End Here -->
            <!-- team area wrapper start -->
            <div class="team-area pt-60 pt-sm-44">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="li-section-title capitalize mb-25">
                                <h2><span>our team</span></h2>
                            </div>
                        </div>
                    </div> <!-- section title end -->
                    <div class="row">
                        {% for team in teams %}
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">
                                <div class="team-thumb">
                                    <img src="{{team.ImageUrl}}" alt="Our Team Member">
                                </div>
                                <div class="team-content text-center">
                                    <h3>{{team.name}}</h3>
                                    <p>{{team.role}}</p>
                                    <a href="#">{{team.email}}</a>
                                    <div class="team-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-linkedin"></i></a>
                                        <a href="#"><i class="fa fa-google-plus"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <!-- end single team member -->
<!--                        <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">-->
<!--                                <div class="team-thumb">-->
<!--                                    <img src="{% static 'images/team/2.png' %}" alt="Our Team Member">-->
<!--                                </div>-->
<!--                                <div class="team-content text-center">-->
<!--                                    <h3>Oliver Bastin</h3>-->
<!--                                    <p>Web Designer</p>-->
<!--                                    <a href="#">info@example.com</a>-->
<!--                                    <div class="team-social">-->
<!--                                        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div> -->
<!--                        <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                            <div class="team-member mb-30 mb-sm-60">-->
<!--                                <div class="team-thumb">-->
<!--                                    <img src="{% static 'images/team/3.png' %}" alt="Our Team Member">-->
<!--                                </div>-->
<!--                                <div class="team-content text-center">-->
<!--                                    <h3>Erik Jonson</h3>-->
<!--                                    <p>Web Developer</p>-->
<!--                                    <a href="#">info@example.com</a>-->
<!--                                    <div class="team-social">-->
<!--                                        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div> -->
<!--                        <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                            <div class="team-member mb-30 mb-sm-60 mb-xs-60">-->
<!--                                <div class="team-thumb">-->
<!--                                    <img src="{% static 'images/team/4.png' %}" alt="Our Team Member">-->
<!--                                </div>-->
<!--                                <div class="team-content text-center">-->
<!--                                    <h3>Maria Mandy</h3>-->
<!--                                    <p>Marketing officer</p>-->
<!--                                    <a href="#">info@example.com</a>-->
<!--                                    <div class="team-social">-->
<!--                                        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div> -->
                    </div>
                </div>
            </div>
            <!-- team area wrapper end -->

{% endblock content %}