
{% extends 'base.html' %}
{% load static %}

{% block content %}


            <!-- about wrapper start -->
            <div class="about-us-wrapper pt-60 pb-40">
                <div class="container">
                    <div class="row">
                        <!-- About Text Start -->
                        <div class="col-lg-6 order-last order-lg-first">
                            <div class="about-text-wrap">
                                <h2><span>thetnaingtun.com</span>Learning IT</h2>
                                <p>We are a team of IT Engineer and developers that create high quality Templates & Web Applications, Business Consultant and Support.</p>
                                <p>Some of our customer say’s that they trust us and buy our product without any hagitation because they belive us and always happy to buy our product.</p>
                                <p>We provide the beshat they trusted us and buy our product without any hagitation because they belive us and always happy to buy.</p>
                            </div>
                        </div>
                        <!-- About Text End -->
                        <!-- About Image Start -->
                        <div class="col-lg-5 col-md-10">
                            <div class="about-image-wrap">
                                <img class="img-full" src="{% static 'images/product/large-size/14.png' %}" alt="About Us" />
                            </div>
                        </div>
                        <!-- About Image End -->
                    </div>
                </div>
            </div>
            <!-- about wrapper end -->
            <!-- Begin Li's Trendding Products Area -->
            <section class="product-area li-laptop-product li-trendding-products best-sellers pb-45">
                <div class="container">
                    <div class="row">
                        <!-- Begin Li's Section Area -->
                        <div class="col-lg-12">
                            <div class="li-section-title">
                                <h2>
                                    <span>Programming Course</span>
                                </h2>
                            </div>
                            <div class="row">
                                <div class="product-active owl-carousel">
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{% url 'pythonoop:python_courses' %}">
                                                    <img src="{% static 'images/product/large-size/p1.jpg' %}" alt="Li's Product Image">
                                                </a>
<!--                                                <span class="sticker">Hot</span>-->
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">programming</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'pythonoop:python_courses' %}">Python Programming</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">Ks 10000</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Register...</a></li>
<!--                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>-->
<!--                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="#">
                                                    <img src="{% static 'images/product/large-size/flask.jpg' %}" alt="Li's Product Image">
                                                </a>
<!--                                                <span class="sticker">New</span>-->
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Web Development</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="#">Flask Framework</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">Ks.15000</span>
                                                        <span class="old-price">Ks.20000</span>
                                                        <span class="discount-percentage">-25%</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Register...</a></li>
<!--                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>-->
<!--                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{% url 'django:djangocourse' %}">
                                                    <img src="{% static 'images/product/large-size/django.jpg' %}" alt="Li's Product Image">
                                                </a>
<!--                                                <span class="sticker">Advance</span>-->
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Web Development</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'django:djangocourse' %}">Django Framework</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">Ks.20000</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Register...</a></li>
<!--                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>-->
<!--                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{% url 'javascript:javascript_course' %}">
                                                    <img src="{% static 'images/product/large-size/js.jpg' %}" alt="Li's Product Image">
                                                </a>
<!--                                                <span class="sticker">New</span>-->
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Web Development</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'javascript:javascript_course' %}">JavaScript</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">Ks.10000</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Register...</a></li>
<!--                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>-->
<!--                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{% url 'courses:bootstrapcourse' %}">
                                                    <img src="{% static 'images/product/large-size/bootstrap.jpg' %}" alt="Li's Product Image">
                                                </a>
<!--                                                <span class="sticker">New</span>-->
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Web Design</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'courses:bootstrapcourse' %}">Bootstrap</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price">Free</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Register...</a></li>
<!--                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>-->
<!--                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{% url 'courses:htmlcourse' %}">
                                                    <img src="{% static 'images/product/large-size/html.jpg' %}" alt="Li's Product Image">
                                                </a>
                                                <span class="sticker">Free</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Web Design</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'courses:htmlcourse' %}">HTML</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">Free</span>
                                                        <span class="old-price">Ks.20000</span>
                                                        <span class="discount-percentage">-100%</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Register...</a></li>
<!--                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>-->
<!--                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                    <div class="col-lg-12">
                                        <!-- single-product-wrap start -->
                                        <div class="single-product-wrap">
                                            <div class="product-image">
                                                <a href="{% url 'courses:css_course' %}">
                                                    <img src="{% static 'images/product/large-size/css.jpg' %}" alt="Li's Product Image">
                                                </a>
                                                <span class="sticker">Free</span>
                                            </div>
                                            <div class="product_desc">
                                                <div class="product_desc_info">
                                                    <div class="product-review">
                                                        <h5 class="manufacturer">
                                                            <a href="#">Web Design</a>
                                                        </h5>
                                                        <div class="rating-box">
                                                            <ul class="rating">
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                                <li class="no-star"><i class="fa fa-star-o"></i></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <h4><a class="product_name" href="{% url 'courses:css_course' %}">CSS</a></h4>
                                                    <div class="price-box">
                                                        <span class="new-price new-price-2">Free</span>
                                                        <span class="old-price">Ks.20000</span>
                                                        <span class="discount-percentage">-100%</span>
                                                    </div>
                                                </div>
                                                <div class="add-actions">
                                                    <ul class="add-actions-link">
                                                        <li class="add-cart active"><a href="#">Register...</a></li>
<!--                                                        <li><a class="links-details" href="wishlist.html"><i class="fa fa-heart-o"></i></a></li>-->
<!--                                                        <li><a href="#" title="quick view" class="quick-view-btn" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-eye"></i></a></li>-->
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- single-product-wrap end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Li's Section Area End Here -->
                    </div>
                </div>
            </section>
            <!-- Li's Trendding Products Area End Here -->

            <!-- team area wrapper start -->
<!--            <div class="team-area pt-60 pt-sm-44">-->
<!--                <div class="container">-->
<!--                    <div class="row">-->
<!--                        <div class="col-12">-->
<!--                            <div class="li-section-title capitalize mb-25">-->
<!--                                <h2><span>our team</span></h2>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div> &lt;!&ndash; section title end &ndash;&gt;-->
<!--                    <div class="row">-->
<!--                        {% for team in teams %}-->
<!--                        <div class="col-lg-3 col-md-6 col-sm-6">-->
<!--                            <div class="team-member mb-60 mb-sm-30 mb-xs-30">-->
<!--                                <div class="team-thumb">-->
<!--                                    <img src="{{team.ImageUrl}}" alt="Our Team Member">-->
<!--                                </div>-->
<!--                                <div class="team-content text-center">-->
<!--                                    <h3>{{team.name}}</h3>-->
<!--                                    <p>{{team.role}}</p>-->
<!--                                    <a href="#">{{team.email}}</a>-->
<!--                                    <div class="team-social">-->
<!--                                        <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--                                        <a href="#"><i class="fa fa-google-plus"></i></a>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        {% endfor %}-->
<!--                        &lt;!&ndash; end single team member &ndash;&gt;-->

<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- team area wrapper end -->

{% endblock content %}